@import './variables.scss';

body {
  background-image: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);

  font-family: $ff-regular;
  color: $clr-300;
  font-size: $fs-regular;
}

.container { margin: 0 2rem; }


@media (min-width: 769px) {
  body {
    font-size: $fs-regular-desktop;
    background-image: url('../images/bg-pattern-desktop.svg'), linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: 0 0;
  }
  .container {
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: 1200px) {
  .container { margin-left: 100px; }
}

@media (min-width: 1300px) {
  .container { margin-left: 165px; }
}