
/* COLORS */
$clr-100: hsla(0, 0%, 100%, 1);
$clr-200: hsla(0, 80%, 86%, 1);
$clr-300: hsla(0, 36%, 70%, 1);
$clr-300-transparent: hsla(0, 36%, 70%, 0.5);
$clr-400: hsla(0, 74%, 74%, 1);
$clr-500: hsla(0, 7%, 24%, 1);

$clr-accent: hsla(0, 92%, 68%, 1);

/* TYPE */
$ff-regular: 'Josefin Sans', sans-serif;;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

$fs-regular: 0.875rem;
$fs-header: 2.5rem;
$fs-accent: 0.813rem;

$fs-header-tablet: 2.75rem;

$fs-regular-desktop: 1rem;
$fs-header-desktop: 4rem;